nav{
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: $white;
    height: 10vh;
    z-index: 1;

    .nav__list{
        display: none;
    }

    .nav__buttons{
        text-align: right;
    }

    .nav__buttons > button:not(.nav__burger){
        display: none;
    }
}