nav{
    position: fixed;
    top: 0;
    width: 100vw;
    background-color: $white;
    height: 10vh;
    z-index: 1;

    .nav__list{
        display: none;
    }

    .nav__buttons{
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: flex-end;
    }

    .nav__buttons > button:not(.nav__burger){
        display: none;
    }

    .nav__left{
        display: flex;
        align-items: center;
        justify-content: flex-start;       
    }

    @media screen and (min-width: $viewport-medium) {
        height: 15vh;

        .nav__buttons > button:not(.nav__burger){
            display: inline-block;
        }

        .nav__buttons > button.nav__burger{
            display: none;
        }

        .nav__list{
            display: inline;
            margin: 0;
            list-style: none;
        }

        .nav__list li{
            display: inline-block;
            margin-left: 1rem;
        }

        .nav__list a{
            color: $raising-black;
            text-decoration: none;
        }
    }
}